$gray : #a3aeb9;
$black : rgba($color: #000000, $alpha: .8);
$font : Arial, Helvetica, sans-serif;

%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    display: flex;
    // justify-content: space-between;
    line-height: 4vw;
    -webkit-box-shadow: 0px 5px 11px -5px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 5px 11px -5px rgb(0 0 0 / 20%);
    box-shadow:0px 5px 11px -5px rgb(0 0 0 / 20%);
    .contentBoxDiv1 {
        display: flex;
        // justify-content: space-around;
        align-items: center;
        width: 30%;
        font-size: .8vw;
        font-family: $font;
        color: rgba($color: #000000, $alpha: .8);
        box-sizing: border-box;
        padding-left: 1.5%;
        i {
            cursor: pointer;
            color: rgba($color: #000000, $alpha: .4);
            width: 9%;
            &:hover {
                color: #7376ff;
            }
        }
        h1 {
            color: rgba($color: #000000, $alpha: .7);
            font-weight: 600;
            width: 70%;
        }
        h2 {
            color: $gray
        }
    }
    .contentBoxDiv2 {
        @extend %flexCenter;
        width: 30%;
        div {
            width: 29%;
            height: 58%;
            display: flex;
            justify-content: space-evenly;
            // align-items: center;
        }
        img {
            width: 42%;
            border-radius: 81%
        }
        h1 {
            color: $black;
            font-family: $font;
            font-size: .8vw;
            font-weight: 800;
            @extend %flexCenter;
        }
    }
    .contentBoxDiv3 {
        @extend %flexCenter;
        width: 22%;
        div {
            width: 47%;
            height: 40%;
            border-radius: 5%;
            @extend %flexCenter;
            background-color: red;
            font-size: .7vw;
            font-family: $font;
            font-weight: 600;
            color: #7376ff;
            background-color: #e7e7ff;
        }
    }
    .contentBoxDiv4 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 18%;
        padding-right: 3%;
        i {
            font-size: 1vw;
        }
    }
}