%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    display: flex;
    .mainSection1 {
        width: 75.5%;
        background-color: white;
        padding: 3%;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        border-radius: 15px;
        position: relative;
        min-height: 83vh;
        overflow: hidden;
        .mainSection1WelcomeContainer {
            border-bottom: .1vw solid rgba($color: #000000, $alpha: .1);
            display: flex;
            width: 100%;
            .mainSection1WelcomeUserSide {
                width: 70%;
                background-color: white;
                .mainSection1WelcomeTextContainer {
                    width: 100%;
                    h1 {
                        line-height: 5vw;
                        font-size: 2.3vw;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                    h2 {
                        line-height: 1.6vw;
                        font-size: 1.5vw;
                        font-weight: 500;
                    }
                    h3 {
                        line-height: 1.6vw;
                        font-size: 1.5vw;
                        font-weight: 600;
                    }
                }
                .mainSection1WelcomeIconContainer {
                    div {
                        width: 43%;
                        height: 4.5vw;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        i {
                            font-size: 1.2vw;
                            color: #a3aeb9;
                            cursor: pointer;
                        }
                        .WelcomeIcon1 {
                            &:hover {
                                color: green;
                            }
                        }
                        .WelcomeIcon2 {
                            &:hover {
                                color: orange;
                            }
                        }
                        .WelcomeIcon3 {
                            &:hover {
                                color: lightskyblue;
                            }
                        }
                        .WelcomeIcon4 {
                            &:hover {
                                color: blue;
                            }
                        }
                    }
                }
            }
        }
        .mainSection1WelcomeImageSide {
            top: 0;
            right: 0;
            width: 30%;
            height: 21.6vh;
            position: absolute;
            overflow: hidden;
            div {
                position: relative;
                width: 100%;
                height: 100%;
                top: -20%;
                right: -20%;
                img {
                    width: 60%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: rotate(190deg);
                }
            }
        }
        .mainSection1LastUploadedText {
            h1 {
                font-size: 1.3vw;
                line-height: 6.1vw;
                font-weight: 800;
                font-family: Arial, Helvetica, sans-serif;
                color: #5c4cc6;
            }
        }
        .mainSection1LastUploadedTitles {
            display: flex;
            justify-content: space-between;
            line-height: 6vw;
            -webkit-box-shadow: 0px 5px 11px -5px rgb(0 0 0 / 20%);
            -moz-box-shadow: 0px 5px 11px -5px rgb(0 0 0 / 20%);
            box-shadow:0px 5px 11px -5px rgb(0 0 0 / 20%);
            .productTextDiv {
                width: 25%;
            }
            div {
                color: #a3aeb9;
                font-size: .9vw;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                letter-spacing: 1px;
            }
        }
    }


    .mainSection2 {
        width: 24.5%;
        padding: 6% 2% 2% 2%;
        .mainSection2TeamsContainer {
            .mainSection2CreateTeamContainer1 {
                // @extend %flexCenter;
                .mainSection2CreateTeamContainer2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: 'Roboto Mono', monospace;
                    border: 3px dashed rgb(237,237,237) ;
                    border-radius: 50px;
                    padding: 0 5% 0 5%;
                    width: 50%;
                    height: 2.8vw;
                    color: rgba($color: #000000, $alpha: .3);
                    background-color: white;
                    -webkit-box-shadow: -1px 5px 12px -1px rgba(0,0,0,0.14);
                    -moz-box-shadow: -1px 5px 12px -1px rgba(0,0,0,0.14);
                    box-shadow: -1px 5px 12px -1px rgba(0,0,0,0.14);
                    p {
                        font-size: 1vw;
                        font-weight: 600;
                    }
                    i {
                        font-size: 1vw;
                    }
                }   
            }
            .teamsContainerTeamNameContainer {
                width: 65%;
                margin-top: 9%;
                margin-bottom: 6%;
                display: flex;
                // justify-content: space-around;
                align-items: center;
                h1 {
                    font-family: Arial, Helvetica, sans-serif;
                    color: rgba($color: #000000, $alpha: .7);
                    font-size: .8vw;
                    font-weight: 800;
                    margin-left: 8%;
                    margin-right: 8%;
                }
                i {
                    font-size: .7vw;
                    color: rgba($color: #000000, $alpha: .7);
                }
            }
            .teamsContainerTeamMembersContainer {
                display: flex;
                justify-content: space-between;
                padding-left: 3%;
                img:nth-child(1) {
                    width: 16%;
                    background-color: aqua;
                    border-radius: 100%;
                    position: relative;
                }
                img:nth-child(2) {
                    width: 16%;
                    background-color: lightgreen;
                    border-radius: 100%;
                    position: relative;
                    left: -10%;
                }
                img:nth-child(3) {
                    width: 16%;
                    background-color: lightsalmon;
                    border-radius: 100%;
                    position: relative;
                    left: -20%;
                }
                img:nth-child(4) {
                    width: 16%;
                    background-color: lime;
                    border-radius: 100%;
                    position: relative;
                    left: -30%;
                }
                div {
                    width: 16%;
                    background-color: #5e4cc5;
                    border-radius: 100%;
                    position: relative;
                    left: -40%; 
                    @extend %flexCenter;
                    cursor: pointer;
                    &:hover {
                        transform: translateX(7%);
                        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                        transition-duration: .5s;
                    }
                    button {
                        all: unset;
                        i {
                            color: white;
                            font-size: 1.2vw;
                        }
                    } 
                }
                img:hover {
                    cursor: pointer;
                    transform: translateY(-7%);
                    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition-duration: .5s;
                }
            }
            .teamsContainerTeamFeaturesContainer {
                margin-top: 7%;
                li {
                    display: flex;
                    align-items: center;
                    line-height: 1.8vw;
                }
                li:nth-child(1) {
                    div {
                        background-color: #A8CAFE;
                        border-radius: 100%;
                        width: .8vw;
                        height: .8vw;
                        margin-left: 5%;
                    }
                }
                li:nth-child(2) {
                    div {
                        background-color: #5c4cc6;
                        border-radius: 100%;
                        width: .8vw;
                        height: .8vw;
                        margin-left: 5%;
                    }

                }
                li:nth-child(3) {
                    div {
                        background-color: lightblue;
                        border-radius: 100%;
                        width: .8vw;
                        height: .8vw;
                        margin-left: 5%;
                    }
                }
                li:nth-child(4) {
                    div {
                        background-color: #e39c98;
                        border-radius: 100%;
                        width: .8vw;
                        height: .8vw;
                        margin-left: 5%;
                    }
                }
                li:nth-child(5) {
                    div {
                        background-color: #aad7a2;
                        border-radius: 100%;
                        width: .8vw;
                        height: .8vw;
                        margin-left: 5%;
                    }
                }
                div:nth-child(5) {
                    background-color: #5c4cc6;
                    border-radius: 100%;
                    width: .8vw;
                    height: .8vw;
                    margin-left: 5%;
                }
                h1 {
                    font-size: .8vw;
                    font-weight: 600;
                    margin-left: 4%;
                    color: rgba($color: #000000, $alpha: .5);
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
        .mainSection2BlogContainer {
            .blogContentBoxBlogTextContainer {
                padding-left: 5%;
                margin-top: 15%;
                h1 {
                    color: #f68125;
                    // line-height: 15vh;
                    font-size: 1.6vw;
                    font-weight: 800;
                    font-family:Arial, Helvetica, sans-serif
                }
            }
            .blogContentBoxRecentTextContainer {
                padding-left: 5%;
                margin-top: 10%;
                h1 {
                    font-size: 1vw;
                    font-weight: 800;
                    color: rgba($color: #000000, $alpha: .6);
                    font-family:Arial, Helvetica, sans-serif
                }
            }
            .blogContentBoxGoToAllText {
                cursor: pointer;
                display: flex;
                padding: 13% 0 0 28%;
                border: none;
                background-color: transparent;
                width: 100%;
                align-items: center;
                h1 {
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                    color: rgba($color: #000000, $alpha: .5);
                    font-size: .7vw;
                }
                i {
                    color: rgba($color: #000000, $alpha: .5);
                    font-size: .7vw;
                    margin-left: 2%;
                }
            }
        }
    }
}