.asideBarContainer1 { 
    width: 14%;
    // height: calc(100vh - 14.2vh);
    background-color: #fafafa;
    box-sizing: border-box;
    .asideBarContainer2 {
        width: 100%;
        height: 34%;
        display: flex;
        align-items: center;
        .navigationsListContainer {
            width: 100%;
            height: 58%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .asideBarNavigation {
                cursor: pointer;
                box-sizing: border-box;
                width: 70%;
                line-height: 3.5vw;
                font-family: 'Roboto Mono', monospace;
                background-color: #fafafa;
                font-size: .8vw; 
                font-weight: 500;
                display: flex;
                align-items: center;
                color: #b6bec7;
                position: relative;
                    i {
                        font-size: 1vw;
                        margin: 0 6% 0 11%;
                    }  
                    .fa-blog {
                        margin: 0 11% 0 35%;
                    }
            
            }  
            .asideBarNavigationOnclick {
                border-top: 1px solid #ececec;
                border-left: 1px solid #ececec;
                border-bottom: 1px solid #ececec;
                cursor: pointer;
                box-sizing: border-box;
                width: 70%;
                line-height: 3.5vw;
                font-family: 'Roboto Mono', monospace;
                background-color: white;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                font-size: .8vw;
                font-weight: 500;
                display: flex;
                align-items: center;
                color: black;
                position: relative;
                &::after {
                    content: " ";
                    width: 1%;
                    height: 100%;
                    background-color: white;
                    position: absolute;
                    right: -1%;
                    z-index: 9;
                }
              
                    i:nth-child(1){
                        font-size: 1vw;
                        margin: 0 6% 0 11%;
                    }
                    i:nth-child(2){
                        font-size: 1vw;
                        margin: 0 6% 0 11%;
                    }
                    i:nth-child(3){
                        font-size: 1vw;
                        margin: 0 15% 0 15%;
                    }
               
  
            }
            .categoriesContainer1 {
                width: 60%;
                background-color: white;
                .categoriesContainer2 {
                    width: 100%;
                }
            }
        }
    }
}





